# Лабораторная работа №1

Пчелкина Ю.Ж., группа 6231-010402D

Лабораторную работу необходимо выполнять в ***Google Colab***. Результат работы (в виде ссылки на notebook) выслать письмом на litvinov.vg@ssau.ru. В теме письма указывать ФИО полностью.

Для выполнения задания необходимо подобрать корпус текстов (художественных) на английском языке. Объем корпуса должен составлять не менее $3 \cdot 10^7$ символов. Далее все действия будут выполняться над выбранными данными. Для отладки алгоритмов лучше использовать не весь корпус, а лишь его часть.

In [1]:
# код загрузки корпуса (только для чтения)
file = open('WarAndPeace.txt', 'r')
file_text = file.read()
# закрыли файл
file.close()

#### Шаг №1
Заменить все числа, которые представлены цифрами, их текстовым представлением (т.е. прописью). (1 = one, 23 = twenty three, 1042 = one thousand forty two, и т.п.). Методы библиотек не использовать, алгоритм необходимо написать самостоятельно.

In [2]:
#import re

In [3]:
ones = {0: '', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}

teens = {10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 
               16: 'sixteen', 17: 'seventeen', 18: 'eighteen', 19: 'nineteen'}

decades = {2: 'twenty', 3: 'thirty', 4: 'forty', 5: 'fifty', 6: 'sixty', 7: 'seventy', 8: 'eighty', 9: 'ninety'}

In [4]:
def number_to_word(number):
    
    l = len(number)
    num = int(number)

    if l == 1: 
        word = ones[num]
           
    elif l == 2:
        if num < 20: word = teens[num]
        else:
            i, j = divmod(num, 10)
            word = decades[i] + ' ' + ones[j]
    
    elif l == 3:
        k, m = divmod(num, 100)
        word_end = number_to_word(str(m))
        word = ones[k] + ' handred ' + word_end
    
    else:
        if l < 7:
            k = l - 3
            word_begin = number[0: k]
            word_end = number[k: l]
            word = number_to_word(word_begin) + ' thousand ' + number_to_word(word_end)
        elif l < 10:
            k = l - 6
            word_begin = number[0: k]
            word_end = number[k: l]
            word = number_to_word(word_begin) + ' million ' + number_to_word(word_end)
        else:
            word = number
        
    return(str(word))

In [5]:
with open('WarAndPeace.txt', 'r') as f1, open('new.txt', 'w') as f2:
    lines = [line for line in f1]
    for line in lines:
        flag = False
        word = ''
        for ch in line:
            if ch.isnumeric():
                flag = True
                word += ch
            else:
                if flag:
                    flag = False
                    new_word = number_to_word(word)
                    f2.write(new_word)
                    f2.write(ch)
                else:
                    f2.write(ch)

#### Шаг №2
Преобразовать текст к нижнему или верхнему регистру.

In [6]:
f1 = open('new.txt', 'r')
text = f1.read()
f1.close()

In [7]:
with open('new.txt', 'w') as f2:
    for line in text:
        line = line.lower()
        f2.write(line)

#### Шаг №3
Произвести токенезацию (токенами выступают слова), не учитывая знаки препинания (т.е. необходимо разбить текст на токены (лексемы)):
* С помощью nltk.tokenize.RegexpTokenizer (тут необходимо вспомнить регулярные выражения [posix](https://ru.wikibooks.org/wiki/%D0%A0%D0%B5%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F)).

In [8]:
from nltk.tokenize import RegexpTokenizer

In [9]:
tokenizer = RegexpTokenizer('\w+')

with open('new.txt', 'r') as f2:
    r_token = tokenizer.tokenize(f2.read())

In [11]:
#r_token

* С помощью nltk.word_tokenize.

In [12]:
from nltk.tokenize import word_tokenize
from string import punctuation

In [13]:
with open('new.txt', 'r') as f2:
    w_token = word_tokenize(f2.read())
    
w_token = [tok for tok in w_token if tok not in punctuation]

#### Шаг №4
Произвести частотный анализ слов. Методы библиотек не использовать, т.е. алгоритм необходимо написать самостоятельно. Cохранить результат в выходной csv файл в порядке убывания частот. Формат выходного файла:

| Word | Count |
| --- | --- |
| cat | 1000 |
| dog | 300 |
| .... | .... |
| butterfly | 34 |

In [15]:
import pandas as pd

In [16]:
list_word = []
list_word_count = []
count = 0

for word in r_token:
    if word not in list_word:
        list_word.append(word)
        list_word_count.append({'Word': word, 'Count': 1})
    else:
        for i in range(len(list_word)):
            if list_word_count[i]['Word'] == word:
                list_word_count[i]['Count'] += 1

# создаем пустой дата-фрем
df_title = {'Word': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_word_count)   
df_word = df.sort_values(by = 'Count', ascending = False)


df_word.to_csv('df_word.csv', index = False)

df_word = pd.read_csv('df_word.csv')
df_word.head()

  Word   Count
0  the  8130.0
1  and  4950.0
2   to  3761.0
3   of  3054.0
4    a  2614.0

#### Шаг №5
Произвести частотный анализ [N-грам](https://en.wikipedia.org/wiki/N-gram) и сохранить в выходной файл в порядке убывания частот (формат файла аналогичен предыдущему примеру, за исключением столбца Word, который заменяется на N-gram. В этой задаче можно использовать готовые библиотеки (смотрим состав библиотеки [NLTK](https://www.nltk.org/)). Формат выходного файла:

| bigram | | Count |
| --- | --- | --- |
| cat | is | 1000 |
| is | a | 300 |
| .... | .... | .... |
| the | fish | 34 |

* Биграм

In [20]:
import nltk

In [21]:
from nltk import bigrams

In [22]:
bigramms = list(nltk.bigrams(r_token))

list_bigramm = []
list_bigramm_count = []
count = 0

for bigramm in bigramms:
    if bigramm not in list_bigramm:
        list_bigramm.append(bigramm)
        list_bigramm_count.append({'Bigramm': bigramm[0], '  ': bigramm[1], 'Count': 1})
    else:
        for i in range(len(list_bigramm)):
            if list_bigramm_count[i]['Bigramm'] == bigramm[0] and list_bigramm_count[i]['  '] == bigramm[1]:
                list_bigramm_count[i]['Count'] += 1

# создаем пустой дата-фрем
df_title = {'Bigramm': [], '  ': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_bigramm_count)   
df_bigramm = df.sort_values(by = 'Count', ascending = False)

df_bigramm.to_csv('df_bigramm.csv', index = False)

df_bigramm = pd.read_csv('df_bigramm.csv')
df_bigramm.head()

  Bigramm          Count
0      of     the  849.0
1      to     the  570.0
2      in     the  524.0
3  prince  andrew  349.0
4     and     the  347.0

* 3-грам

In [23]:
from nltk import trigrams

In [24]:
trigramms = list(nltk.trigrams(r_token))


list_trigramm = []
list_trigramm_count = []
count = 0

for trigramm in trigramms:
    if trigramm not in list_trigramm:
        list_trigramm.append(trigramm)
        list_trigramm_count.append({'Trigramm': trigramm[0], 
                                    '  ': trigramm[1], '   ': trigramm[2], 'Count': 1})
    else:
        for i in range(len(list_trigramm)):
            if list_trigramm_count[i]['Trigramm'] == trigramm[0] and list_trigramm_count[i]['  '] == trigramm[1] and list_trigramm_count[i]['   '] == trigramm[2]:
                
                list_trigramm_count[i]['Count'] += 1

                
# создаем пустой дата-фрем
df_title = {'Trigramm': [], '  ': [], '   ': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_trigramm_count)   
df_trigramm = df.sort_values(by = 'Count', ascending = False)

df_trigramm.to_csv('df_trigramm.csv', index = False)

df_trigramm = pd.read_csv('df_trigramm.csv')
df_trigramm.head(3)

    Trigramm                    Count
0          i        don      t   69.0
1  commander         in  chief   59.0
2        the  commander     in   57.0

#### Шаг №6 (аналогично шагу 3)
Произвести токенезацию, но уже учитывая знаки препинания:
* С помощью nltk.tokenize.RegexpTokenizer.

In [25]:
tokenizer = RegexpTokenizer('\w+|\S+')

with open('new.txt', 'r') as f2:
    r1_token = tokenizer.tokenize(f2.read())

* С помощью nltk.word_tokenize.

In [26]:
with open('new.txt', 'r') as f2:
    w1_token = word_tokenize(f2.read())

#### Шаг №7 (аналогично шагу 4)
Произвести частотный анализ слов.

In [27]:
list_word = []
list_word_count = []
count = 0

for word in r1_token:
    if word not in list_word:
        list_word.append(word)
        list_word_count.append({'Word': word, 'Count': 1})
    else:
        for i in range(len(list_word)):
            if list_word_count[i]['Word'] == word:
                list_word_count[i]['Count'] += 1

                
                
# создаем пустой дата-фрем
df_title = {'Word': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_word_count)   
df_word1 = df.sort_values(by = 'Count', ascending = False)

df_word1.to_csv('df_word1.csv', index = False)

df_word1 = pd.read_csv('df_word1.csv')
df_word1.head()

  Word   Count
0    ,  8524.0
1  the  8040.0
2    .  5514.0
3  and  4833.0
4   to  3746.0

#### Шаг №8 (аналогично шагу 5)
Произвести частотный анализ N-грам.

* Биграм

In [28]:
bigramms = list(nltk.bigrams(r1_token))

list_bigramm = []
list_bigramm_count = []
count = 0

for bigramm in bigramms:
    if bigramm not in list_bigramm:
        list_bigramm.append(bigramm)
        list_bigramm_count.append({'Bigramm': bigramm[0], '  ': bigramm[1], 'Count': 1})
    else:
        for i in range(len(list_bigramm)):
            if list_bigramm_count[i]['Bigramm'] == bigramm[0] and list_bigramm_count[i]['  '] == bigramm[1]:
                list_bigramm_count[i]['Count'] += 1

# создаем пустой дата-фрем
df_title = {'Bigramm': [], '  ': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_bigramm_count)   
df_bigramm1 = df.sort_values(by = 'Count', ascending = False)

df_bigramm1.to_csv('df_bigramm1.csv', index = False)

df_bigramm1 = pd.read_csv('df_bigramm1.csv')
df_bigramm1.head()

  Bigramm        Count
0       ,  and  1395.0
1      of  the   847.0
2      to  the   565.0
3       .  the   541.0
4      in  the   523.0

* 3-грам

In [29]:
from nltk import trigrams

trigramms = list(nltk.trigrams(r1_token))


list_trigramm = []
list_trigramm_count = []
count = 0

for trigramm in trigramms:
    if trigramm not in list_trigramm:
        list_trigramm.append(trigramm)
        list_trigramm_count.append({'Trigramm': trigramm[0], 
                                    '  ': trigramm[1], '   ': trigramm[2], 'Count': 1})
    else:
        for i in range(len(list_trigramm)):
            if list_trigramm_count[i]['Trigramm'] == trigramm[0] and list_trigramm_count[i]['  '] == trigramm[1] and list_trigramm_count[i]['   '] == trigramm[2]:
                
                list_trigramm_count[i]['Count'] += 1

                
# создаем пустой дата-фрем
df_title = {'Trigramm': [], '  ': [], '   ': [], 'Count': []}
df = pd.DataFrame(df_title)

# в датафрейм добавляем данные
df = df.append(list_trigramm_count)   
df_trigramm1 = df.sort_values(by = 'Count', ascending = False)

df_trigramm1.to_csv('df_trigramm1.csv', index = False)

df_trigramm1 = pd.read_csv('df_trigramm1.csv')
df_trigramm1.head(3)

  Trigramm                  Count
0        ,     and     the  125.0
1       ,"    said     the   88.0
2        .  prince  andrew   84.0

#### Шаг №9 (используя результаты 5-го шага)
Произвести генерацию текста на основе частот биграм.

In [37]:
# на основе токенов без учета знаков препинания

# самое популярное слово
max_word = df_word['Word'][1]

N = 50
text_gen = ''

# наиболее популярная биграмма с ним
df = df_bigramm.copy()
new_df = df.query('Bigramm == @max_word')
new_df.to_csv('new_df.csv', index = False)
new_df = pd.read_csv('new_df.csv')   

new_word = new_df['  '][0]

text_gen = text_gen + new_df['Bigramm'][0] + ' ' + new_df['  '][0]
print(text_gen)

for i in range(N):    
    #if new_word in new_df['Bigramm']: 
    new_df = df.query('Bigramm == @new_word')
    new_df.to_csv('new_df.csv', index = False)
    new_df = pd.read_csv('new_df.csv')
        
    new_word = new_df['  '][0]
    new_df = df.drop(labels = [0], axis = 0)
        
    text_gen = text_gen + ' ' + new_word
    print(text_gen)

and the
and the emperor
and the emperor s
and the emperor s face
and the emperor s face and
and the emperor s face and the
and the emperor s face and the emperor
and the emperor s face and the emperor s
and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and
and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the

In [38]:
print(text_gen)

and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the emperor s face and the